.side-bar
  .side-bar__user_name
    .side-bar__user_name__sub
      .side-bar__user_name__sub__name
        masa
      .side-bar__user_name__sub__icon
        = link_to "#" , class: "side-bar__user_name__icon--edit" do
          %i.fas.fa-edit
          %span<>
        = link_to "#" , class: "side-bar__user_name__icon--cog" do
          %i.fas.fa-cog
          %span<>

  .side-bar__group-list

    .side-bar__group-list__group
      .side-bar__group-list__group__name
        techcamp
      .side-bar__group-list__group__latest_message
        まだメッセージがありません